body {
    background-color: #1b1b1d;
    padding: 0;
    margin: 0;
}

#menu_bar {
    position: fixed;
    display: flex; /* Changed from inline-flex to flex */
    justify-content: space-around;
    overflow: hidden;
    align-items: center; /* Vertically center children */
    width: 100vw;
    height: 75px;
    background-color: #B73F1D;
}

#menu_bar > a > h1 {
    margin: 0; /* Remove margin */
    font-size: 45px;
    color: #EADFAD;
    font-family: "Lexend", serif;
    font-weight: 300;
    /* text-decoration: underline; */
}

#menu_bar > nav {
    align-self: center;
    float: right;
    font-size: 18px;
    font-weight: 500;
    font-family: "Funnel Sans", serif;
}

#menu_bar > nav > a {
    color: #EADFAD;
    text-decoration: none;
    border-color: transparent;
    /* border-style: solid; */
    border-bottom-style: solid;
    border-width: 3px;
    /* border-radius: 20px; */
    padding: 23px 24px;
    margin-left: 80px;
    transition: all 0.30s;
}

#menu_bar > nav > a.active {
    border-bottom-color: #EADFAD;
}

#menu_bar > nav > .nav_btn:hover {
    border-bottom-color: #EADFAD;
}

#nav_add_btn {
    display: none;
}

#nav_add_btn:hover {
    border-bottom-color: #EADFAD;
}

#watched_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the section takes full viewport height */
}

#add_btn {
    font-family: 'Lexend', serif;
    /* position: relative; */
    color: #EADFAD;
    text-decoration: none;
    border-style: solid;
    border-color: #B73F1D;
    background-color: #B73F1D;
    border-width: 3px;
    border-radius: 15px;
    font-size: large;
    padding: 15px 20px;
    transition: all 0.30s;
}

#add_btn:hover {
    opacity: 0.8;
}

.modal-content {
    background-color: #B73F1D;
    border-radius: 15px;
}

.modal-header {
    border-color: #EADFAD;
    border-width: 3px;
}

.modal-header > h1 {
    font-size: 50px;
    color: #EADFAD;
    font-family: "Lexend", serif;
    font-weight: 400;
    word-spacing: 1.2px;
    line-height: 2rem;
}

.modal-body {
    padding: 25px;
}

.form_label,
.form_input { 
    display: block; 
    width: 100%; 
    margin-bottom: 8px;
}

.form_label {
    color: #EADFAD;
    font-size: 20px;
    font-weight: 200;
    font-family: "Funnel Sans", serif;
    /* word-spacing: 1.2px; */
    line-height: 2rem;
}

#title {
    background-color: rgba(234, 223, 173, 0.8);
    border-style: none;
    border-radius: 7px;
    font-size: 18px;
    font-family: "Funnel Sans", serif;
    padding: 9px;
}

#genre {
    background-color: rgba(234, 223, 173, 0.8);
    border-style: none;
    border-radius: 7px;
    font-size: 18px;
    font-family: "Funnel Sans", serif;
    padding: 9px;
}

#genre:hover {
    cursor: pointer;
}

.form-check-input {
    font-size: larger;
}

.form-check-label{
    color: #EADFAD;
    font-size: 20px;
    font-weight: 200;
    font-family: "Funnel Sans", serif;
    /* word-spacing: 1.2px; */
    line-height: 2rem;
    /* display: block; */
}

#submit {
    margin-top: 8px;
    font-family: 'Lexend', serif;
    position: relative;
    color: #B73F1D;
    text-decoration: none;
    border-style: solid;
    border-color: #B73F1D;
    background-color: #EADFAD;
    border-width: 3px;
    border-radius: 15px;
    font-size: large;
    padding: 15px 20px;
    transition: all 0.30s;
}

#submit:hover {
    opacity: 0.8;
}

#movieTable {
    width: 85%;
}

#table_header > th {
    color: #EADFAD;
    font-family: "Lexend", serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid #B73F1D;
}

tbody > tr {
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid #B73F1D;
    color: #EADFAD;
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 200;
    font-family: "Funnel Sans", serif;
    word-spacing: 1.2px;
}

.list_btn {
    font-family: 'Lexend', serif;
    position: relative;
    color: #B73F1D;
    text-decoration: none;
    border-style: none;
    background-color: transparent;
    font-size: 20px;
    height: 100%;
    padding: 15px 20px;
    transition: all 0.30s;
    margin: 0;
}

#edit:hover {
    background-color: #4B607F;
    color: #EADFAD;
}

#delete:hover {
    background-color: #B73F1D;
    color: #EADFAD;
}

#suggestions {
    max-height: 200px;
    overflow-y: auto;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
}

#suggestions > li {
    border-color: #EADFAD;
    background-color: rgba(234, 223, 173, 0.8);
    color: #B73F1D;
    transition: all 0.30s;
}

#suggestions > li:hover {
    cursor: pointer;
    background-color: rgba(234, 223, 173, 1);
}

#suggestions.show {
    opacity: 1;
    max-height: 200px;
}